body,
html,
#app {
	height: 100%;
	width: 100%;
	color: #000304;
	overflow: hidden;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
}
[v-cloak] {
	display: none;
}
.byl-header,
.byl-main {
	background: var(--bly-body);
}
.byl-header > div {
	height: 100%;
}
