html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	-webkit-tap-highlight-color: transparent;
}
[v-cloak] {
	display: none;
}
html,
body {
	height: 100%;
}
body {
	color: var(--bly-body-color);
	background-color: var(--bly-body-background);
	max-width: 1080px;
	overflow-x: hidden;
	text-size-adjust: 100% !important;
	-webkit-overflow-scrolling: touch;
}
#app {
	padding-top: 54px;
	padding-bottom: 50px;
	height: 100%;
}
.byl-header {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}
.byl-main {
	min-height: 100%;
}
.byl-error {
	color: var(--bly-body-fff);
	font-size: 18px;
	text-align: center;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 19%;
	left: 50%;
	width: 87%;
}
