body,
html {
	padding: 0;
	height: 100%;
	width: 100%;
	color: #000304;
	overflow: hidden;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
}
[v-cloak] {
	display: none;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.flex-class {
	display: flex;
	justify-content: center;
	align-content: center;
}
/**文本溢出显示省略号**/
.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/* 滚动条 */
*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px transparent;
	background-color: transparent;
	border-radius: 4px;
}
*::-webkit-scrollbar {
	width: 0px;
	height: 4px;
	background-color: transparent;
	border-radius: 4px;
}
*::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(144, 147, 153, 0.3);
}
